appdirs==1.4.4
attrs==23.2.0
black==24.4.2
blosc2==2.7.0
botocore==1.34.54
certifi==2022.12.7
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
docker-pycreds==0.4.0
einops==0.7.0
filelock==3.15.4
flake8==7.0.0
flake8-bugbear==24.2.6
flake8-comprehensions==3.14.0
fonttools==4.53.1
fsspec==2024.6.1
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.43
h5py==3.11.0
huggingface-hub==0.24.0
idna==3.7
imageio==2.34.2
imath==0.0.2
iopath==0.1.10
isort==5.13.2
Jinja2==3.1.4
jmespath==1.0.1
kafka-python==2.0.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
mccabe==0.7.0
mpmath==1.3.0
msgpack==1.0.8
mypy-extensions==1.0.0
nats-py==2.8.0
ndindex==1.8
networkx==3.3
ninja==1.11.1.1
numexpr==2.10.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
opencv-python==4.10.0.84
OpenEXR==3.2.4
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
portalocker==2.10.1
protobuf==4.25.3
psutil==6.0.0
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
safetensors==0.4.3
scipy==1.14.0
seaborn==0.13.2
sentry-sdk==2.10.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sympy==1.13.1
tables==3.9.2
tabulate==0.9.0
termcolor==2.4.0
timm==1.0.7
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm==4.66.4
triton==2.2.0
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.63
ultralytics-thop==2.0.0
-e git+https://github.com/minjunj/falcon.git@76dcf3885d11fe59e8ff667b276d46218507727d#egg=unidepth&subdirectory=UniDepth
urllib3==1.26.13
wandb==0.17.5
websocket-client==1.8.0
xformers==0.0.24
yacs==0.1.8
